<body>
  <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/forms/reactive/formsControl">R-F-Form-Control
                         </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page"
                          routerLink="/forms/reactive/formsGroup">R-F-FormGroup</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page"
                          routerLink="/forms/reactive/formsBuilder">R-F-FormBuilder
                         </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page"
                          routerLink="/forms/reactive/formsArray">R-F-Array
                         </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page"
                          routerLink="/forms/reactive/formsUpdate">R-Update-Form
                         </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page"
                          routerLink="/forms/reactive/formsBasicValidators">R-F Basic Validators
                         </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                    routerLink="/forms/reactive/formsCustons">R-F custons Validators
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        routerLink="/forms/reactive/formsCustons">R-F Validators Using Get Prop...
                       </a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
  <main>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-outline-primary" routerLink="/forms">Back to Forms</button>
    </div>
    <section class="reactive-img-father">
    <section class="reactive-img"></section>
  </section>
  </main>
</body>
