<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 appDirectiveBetter >Advanced Directive </h2>
      <ul class="list-group">
        <!-- appDirective Carrega a class de diretiva feita no modulo de directiva, deixando a linha Vermelha  -->
        <li class="list-group-item" appDirectiveBetter >An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item" appDirectiveBetter>A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
</div>

