<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/directive">Back Directive</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 appDirectiveBetter>Advanced Directive </h2>
      <ul class="list-group">
        <!-- appDirective Carrega a class de diretiva feita no modulo de directiva, deixando a linha da cor configurada na directiva -->
        <li class="list-group-item" appDirectiveBetter>An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item" appDirectiveBetter>A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
  <div class="row-container">
    <div class="col-xs-12">
      <h2>Advanced Directive exemples with images</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style=>Not found approach .</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>App route Module</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/06_NotFound_Routes.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Redirect if doesnt Exist.</h2>
      </div>
      <div class="col-xs-12 picture">
        <h3>App route module of other project.</h3>
        <div class="image">
          <img src="./../../../assets/img-routes/06_NotFound_Routes2.png" alt="Arquivo Html">
        </div>
      </div>
    </div>
  </div>
</div>
