<body>
  <main>
    <section class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/angular/forms/reactive">Back</button>
      </div>
      <form class="form" (ngSubmit)="submitForms()" [formGroup]="myformBasicValidators">
        <h2 class="title">Form-controls-basic-validators</h2>
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" formControlName="name">
          <!-- Validatiors------------------------------------ -->
          <section
            *ngIf="!myformBasicValidators.controls['name']?.valid && myformBasicValidators.controls['name']?.touched">
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators?.hasError('required', 'name')">
              <p>Field is mandatory</p>
            </small>
            <!-- Usando CONTROLS Errors -->
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators.controls['name'].errors?.['minlength']">
              <p>Min size are 3 lettlers</p>
            </small>
            <!-- Usando HASERROR -->
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators.hasError('maxlength', 'name')">
              <p>Max Field are 30 lettlers</p>
            </small>
          </section>
        </div>

        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="address" formControlName="address">
          <!-- Validatiors------------------------------------ -->
          <section
            *ngIf="!myformBasicValidators.controls['address']?.valid && myformBasicValidators.controls['address']?.touched">
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators?.hasError('required', 'address')">
              <p>Field is mandatory</p>
            </small>
            <!-- Usando CONTROLS Errors -->
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators.controls['address'].errors?.['minlength']">
              <p>Min size are 3 lettlers</p>
            </small>
            <!-- Usando HASERROR -->
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators.hasError('maxlength', 'address')">
              <p>Max Field are 30 lettlers</p>
            </small>
          </section>
        </div>

        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="email" formControlName="email">
          <!-- Validatiors------------------------------------ -->
          <!-- Usando CONTROLS Errors -->
          <section
            *ngIf="!myformBasicValidators.controls['email']?.valid && myformBasicValidators.controls['email']?.touched">
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators.controls['email'].errors?.['required']">
              <p>Field is mandatory</p>
            </small>
            <!-- Usando HASERROR -->
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators.hasError('pattern', 'email')">
              <p>Pattern Error, Email needs to be youremail@.....</p>
            </small>
          </section>
        </div>

        <label for="ssn" class="col-sm-2 col-form-label">SSN</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="ssn" formControlName="ssn">
          <!-- Validatiors------------------------------------ -->
          <!-- {{ myformBasicValidators.getError('ssn', 'ssn')?.description}} -->
          <!-- Usando CONTROLS Errors -->
          <section
            *ngIf="!myformBasicValidators.controls['ssn']?.valid && myformBasicValidators.controls['ssn']?.touched">
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators.controls['ssn'].errors?.['required']">
              <p>Field is mandatory</p>
            </small>
            <!-- Usando HASERROR -->
            <small class="warning" style="color: red; padding:1%;"
              *ngIf="myformBasicValidators.hasError('ssn', 'ssn')">
              <p>{{ myformBasicValidators.getError('ssn', 'ssn')?.description }}</p>
            </small>
          </section>
        </div>

        <div class="col-sm-6 d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 1%;">
          <button type="submit" class="btn btn-outline-primary mb-3">Send</button>
        </div>

        <ng-container *ngIf="!myformBasicValidators.dirty; else hasdirty"></ng-container>
        <ng-template #hasdirty>
          <pre>

                      {{ myformBasicValidators.controls['name'].value  | json }}
                      {{  myformBasicValidators.controls['address'].value  | json }}
                      {{ myformBasicValidators.controls['email'].value  | json }}
                      {{ myformBasicValidators.controls['ssn'].value  | json }}
                  </pre>
        </ng-template>
      </form>
    </section>
  </main>
</body>
