<div class="center">
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: rgb(252, 249, 249)">
        <img src="https://openweathermap.org/themes/openweathermap/assets/img/logo_white_cropped.png" alt="" width="70"
          height="30" class="d-inline-block align-text-top" />
        OpenWeather
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" [formControl]="searchCity" type="search" placeholder="Search City"
         id="searchCity" aria-label="Search" />        
        <button class="btn btn-outline-success" type="button" >
          Search
        </button>
      </form>
    </div>
  </nav>
  <body class="weather" [style.background-image]="'url('+ image +')'">
    
   


  </body>

  <!-- Full screen modal usando data-toggle="modal" data-target="#modalErro" Não funciona, tem q usar [ngStyle] -->
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Not Found</h4>
        </div>
        <div class="modal-body">
          <p>Not found the  this city in our database</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModalError()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>