<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/routes">Back Routes</button>
      </div>
    </div>
  </div>
  <div class="row-container">
    <div class="col-xs-12">
      <h2>LazyLoad with PreLoad </h2>
    </div>
  </div>




  <div class="row">
    <div class="col-xs-12">
      <h2>Lazy Load Routes</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>AppModule.Ts</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/05_ChildRoutes_AppModuleTS.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>AppRoutingModule.Ts</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/09_PreLOAD_LoadChildren_Routes.png" alt="Arquivo Html">
      </div>
    </div>
    
  </div>
</div>

