<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/routes">Back Routes</button>
      </div>
    </div>
  </div>
  <div class="row row-container">
    <div class="col-xs-12">
      <h2>CanActivate exemples with images.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style=>CanActivate.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Customs-colors.directive.ts</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/05_DirectiveCustomsTS.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Customs-colors.component.html file.</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/05_DirectiveCustomsHTML.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Template File.</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/03_DirectiveWithHostListenerTEMPLATE.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>
