<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/routes">Back Routes</button>
      </div>
    </div>
  </div>
  <div class="row row-container">
    <div class="col-xs-12">
      <h2>CanActivate and CanActiveChild exemples with images.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style=>CanActivate.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Dummy Login Services</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/07_CanactiveRoutes_and_CanactiveChildRoutesDUMMYSERVICES.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Dummy Canactive Services.</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/07_CanactiveRoutes_and_CanactiveChildRoutesDUMMYCANACTIVE.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Routes Modules.</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/07_CanactiveRoutes_and_CanactiveChildRoutesMODULE.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style=>CanActivateChild.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Template File.</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/07_CanactiveRoutes_and_CanactiveChildRoutesDUMMYSERVICES2.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>
