@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lexend+Peta&family=Roboto:ital,wght@1,300&family=Sansita+Swashed:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 20px;
    color: #FFF2E7;

}

h1 {
    padding: 1% 0%;
}

h2 {
    padding: 1% 0%;

}

a {
    color: #FFF2E7 !important;
}

.navbar {
    /* background: linear-gradient(68.15deg, #040013 16.62%, #2e2e30 85.61%); */
    background: linear-gradient(68.15deg, #2e2e30 16.62%, #040013 85.61%);

}

.forms {
    background: linear-gradient(68.15deg, #3906f3 16.62%, #2b336b 85.61%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
    gap: 2%;

}

.section {
    width: 48%;


}



/***************************************************Template Driven CSS*/
.section-template-driven {
    display: block;
    margin: 0 auto;
}

.section-template-driven-first {
    display: block;
    margin: 0 auto;

}

.div-template-driven-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}

.div-template-title-first {
    display: block;
    margin: 0 auto;
}

.h2-template-subtitle-first {
    display: block;
    margin: 0 auto;
}

.section-template-driven-second {
    display: flex;
    justify-items: center;
    flex-direction: row;
    margin-bottom: 2%;


}

.section-template-driven-second-img {
    height: 33rem;
}

.section-template-driven-second-title {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.section-template-driven-third {
    display: flex;
    justify-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
    margin-bottom: 2%;
}

.section-template-driven-third-img {
    height: 35rem;
}

.section-template-driven-fourth {
    display: flex;
    justify-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2%;
    flex-wrap: wrap;
}

.section-template-driven-fourth-img {
    height: 6.1rem;
}

.section-template-driven-fourth-img2 {
    height: 7.3rem;
}

.section-template-driven-fifth {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
}

.section-template-driven-fifth-img {
    height: 30rem;
    margin-bottom: 2%;
}

/************************************Reaticve Forms CSS*/

.section-reactive-forms {
    display: block;
    margin: 0 auto;

}

.section-reactive-forms-first {
    display: block;
    margin: 0 auto;
}

.h1-section-reactive-forms-first {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.h2-section-reactive-forms {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.section-reactive-forms-second {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 2%;
    column-gap: 2%;}

.div-section-reactive-forms{
    width: 40%;
}
.img-section-reactive-forms-second {
    width: 60%;
    height: 23em;    
    object-fit: contain;  
    order: 1;
   
}
.section-reactive-forms-third {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    column-gap: 2%;
    margin-bottom: 2%;
   
}
.img-section-reactive-forms-third {
    width: 60%;
    height: 5em;    
    object-fit: contain;  
   
}
.section-reactive-forms-fourth {
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 2%;
    margin-bottom: 2%;
   
}
.img-section-reactive-forms-fourth {
    width: 60%;
    height: 5em;    
    object-fit: contain; 
}
.section-reactive-forms-fifth {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;    
    column-gap: 2%;
    margin-bottom: 2%;
   
}
.img-section-reactive-forms-fifth {
    width: 60%;
    height: 10em;    
    object-fit: contain; 
}
.section-reactive-forms-sixth {
    display: flex;
    flex-direction: row;
    align-content: center;    
    column-gap: 2%;
    margin-bottom: 2%;
   
}
.img-section-reactive-forms-sixth {
    width: 60%;
    height: 35em;    
    object-fit: cover; 
}
.div-section-reactive-forms-seventh{
    width: 30%;
}
.section-reactive-forms-seventh {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;   
    align-content: center;    
    column-gap: 2%;
    margin-bottom: 2%;
   
}
.img-section-reactive-forms-seventh {
    width: 65%;
    height: 6em;    
    object-fit: contain; 
}
.img-section-reactive-forms-seventh2 {
    width: 65%;
    height: 6.4em;    
    object-fit: contain; 
}

