<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/forms">Forms</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/forms/reactive">Reactive Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/forms/driven">Template Driven</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="forms">
    <section class=" section section-reactive-forms ">
      <section class="section-reactive-forms-first">
        <div class="div-section-reactive-forms-first">
          <h1 class="h1-section-reactive-forms-first">What are Reactive Forms?</h1>
          <p class="p-section-reactive-forms">
            Reactive forms are forms where we define the structure of the form in the component class. I,e we create the
            form model with Form Groups, Form Controls, and Form Arrays. We also define the validation rules in the
            component class. Then, we bind it to the HTML form in the template. This is different from the
            template-driven forms, where we define the logic and controls in the HTML template.
          </p>
          <h2 class="h2-section-reactive-forms">How to use Reactive Forms</h2>
          <p class="p-section-reactive-forms-first">1º Import ReactiveFormsModule.</p>
          <p class="p-section-reactive-forms-first">2º Create Form Model in component class using Form Group, Form
            Control & Form Arrays</p>
          <p class="p-section-reactive-forms-first">3º Create the HTML Form resembling the Form Model.</p>
          <p class="p-section-reactive-forms-first">4º Bind the HTML Form to the Form Model.</p>
        </div>
      </section>

      <h2 class="h2-section-reactive-forms">Import ReactiveFormsModule</h2>
      <section class="section-reactive-forms-second">
        <div class="div-section-reactive-forms-second">
          <p class="p-section-reactive-forms">
            To work with Reactive forms, we must import the ReactiveFormsModule. We usually import it in root module or
            in a shared module. The ReactiveFormsModule contains all the form directives and constructs for working with
            angular reactive forms.
          </p>
        </div>
        <img class="img-section-reactive-forms-second" src="../../assets/img/reactive-forms01.png" alt="">

      </section>
      <h2 class="h2-section-reactive-forms">Model</h2>
      <section class="section-reactive-forms-third">
        <div class="div-section-reactive-forms-third">
          <p class="p-section-reactive-forms">
            In the template-driven approach, we used ngModel & ngModelGroup directive on the HTML elements. The
            FormsModule created the FormGroup & FormControl instances from the template. This happens behind the scene.
          </p>
          <p class="p-section-reactive-forms">
            In Reactive Forms approach, It is our responsibility to build the Model using FormGroup, FormControl and
            FormArray.
          </p>
          <p class="p-section-reactive-forms">
            The FormGroup, FormControl & FormArray are the three building blocks of the Angular Forms. We learned about
            them in Angular Forms Tutorial.
          </p>
          <p class="p-section-reactive-forms">
            FormControl encapsulates the state of a single form element in our form. It stores the value and state of
            the form element and helps us to interact with them using properties & methods.
          </p>
          <p class="p-section-reactive-forms">
            FormGroup represents a collection of form Controls. It can also contain form groups and form arrays. In
            fact, an angular form is a FormGroup.
            Let’s create the model for our Form.
            First, we need to import FormGroup, FormControl & Validator from the @angular/forms. Open the
            app.component.ts and the add following import statement
          </p>
        </div>
        <img class="img-section-reactive-forms-third" src="../../assets/img/reactive-forms02.png" alt="">


      </section>
      <h2 class="h2-section-reactive-forms">FormGroup</h2>
      <section class="section-reactive-forms-fourth">
        <div class="div-section-reactive-forms-fourth">
          <p class="p-section-reactive-forms">
            The FormGroup is created with the following syntax. The FormGroup takes 3 arguments. a collection of a child
            FormControl, a validator, and an asynchronous
            validator. The validators are optional.
          </p>
        </div>
        <img class="img-section-reactive-forms-fourth" src="../../assets/img/reactive-forms02.png" alt="">
      </section>
      <h2 class="h2-section-reactive-forms">FormControl</h2>
      <section class="section-reactive-forms-fifth">
        <div class="div-section-reactive-forms-fifth">
          <p class="p-section-reactive-forms">
            The first argument to FormGroup is the collection of FormControl. They are added using the FormControl
            method as shown below
          </p>
          <p class="p-section-reactive-forms">
            In the above, we have created an instance of a FormGroup and named it as contactForm. contactForm is our
            top-level FormGroup. Under the contactForm, we have five FormControl instances each representing the
            properties firstname. lastname.email, gender, ismarried & country.
            The Other two arguments to FormGroup are Sync Validator & Async Validator. They are optional.
          </p>
        </div>
        <img class="img-section-reactive-forms-fifth" src="../../assets/img/reactive-forms03.png" alt="">

      </section>
      <h2 class="h2-section-reactive-forms">Html Form</h2>
      <section class="section-reactive-forms-sixth">
        <div class="div-section-reactive-forms-sixth">
          <p class="p-section-reactive-forms">
            The next task is to build an HTML form. The following is a regular HTML form. We enclose it in a
            form tag. We have included two text input (FirstName & LastName), an email field, a radio button (gender), a
            checkbox (isMarried), and a select list (country). These are Form elements.
          </p>
        </div>
        <img class="img-section-reactive-forms-sixth" src="../../assets/img/reactive-forms04.png" alt="">

      </section>
      <h2 class="h2-section-reactive-forms">Binding the template to the model</h2>
      <section class="section-reactive-forms-seventh">
        <div class="div-section-reactive-forms-seventh">
          <p class="p-section-reactive-forms">
            Now we need to associate our model to the Template. We need to tell angular that we have a model for the
            form.
            This is done using the formGroup directive as shown below.
          </p>
        </div>
        <img class="img-section-reactive-forms-seventh" src="../../assets/img/reactive-forms05.png" alt="">
        <div class="div-section-reactive-forms-seventh">
          <p class="p-section-reactive-forms">
            We have used the square bracket (one-way binding) around FormGroup directive and set that equal the model.
            Next, we need to bind form fields to the FormControl models. We use the FormControlName directive for this.
            We add this directive to every form field element in our form. The value is set to the name of the
            corresponding FormControl instance in the component class.
          </p>
        </div>
        <img class="img-section-reactive-forms-seventh2" src="../../assets/img/reactive-forms06.png" alt="">

      </section>
      <h2 class="h2-section-reactive-forms">Submit form</h2>    
      <section class="section-reactive-forms-eighth">
        <div class="div-section-reactive-forms">
          <p class="p-section-reactive-forms">
            We submit the form data to the component using the Angular directive named ngSubmit. Note that we already
            have a submit button in our form. The ngSubmit directive binds itself to the click event of the submit
            button. We are using event binding (parentheses) to bind ngSubmit to OnSubmit method. When the user clicks
            on the submit button ngSubmit invokes the OnSubmit method on the Component class
        </div>
        <img class="img-section-reactive-forms-eighth" src="../../assets/img/reactive-forms07.png" alt="">
      </section>
      <h2 class="h2-section-reactive-forms">Final Template</h2>
      <section class="section-reactive-forms-nineth">
        <div class="div-section-reactive-forms">
          <p class="p-section-reactive-forms">
            Our Final Template is as shown in left side.
        </div>
        <img class="img-section-reactive-forms-nineth" src="../../assets/img/reactive-forms08.png" alt="">
      </section>
      <h2 class="h2-section-reactive-forms">Receive the data in the Component class</h2>
      <section class="section-reactive-forms-eighth">
        <div class="div-section-reactive-forms">
          <p class="p-section-reactive-forms">
            The last step is to receive the form data in the component class. All we need to do is to create the
            onSubmit method in our component class. </p>
          <p class="p-section-reactive-forms">
            We are using the console.log(this.contactForm.value) to send the value of our form data to the console
            window.
            Test the form.
            Now you can run the app and see the result. Open the developer console and see the value returned by the
            contactForm.value. The values of the form are returned as JSON object as shown below, which you can pass it
            your backend API to persist the information to the database. </p>
        </div>
        <img class="img-section-reactive-forms-tenth" src="../../assets/img/reactive-forms09.png" alt="">
      </section>
      <h2 class="h2-section-reactive-forms">FormControl</h2>
      <section class="section-reactive-forms-eleventh">
        <div class="div-section-reactive-forms">
          <p class="p-section-reactive-forms">
            A FormControl takes 3 arguments. a default value, a validator and an asynchronous validator. All of them are
            optional.
            Default Value
            You can pass a default value as either as a string or as an object of key-value pair. When you pass object
            you can set both the value and the whether or not the control is disabled.
          </p>
        </div>
        <img class="img-section-reactive-forms-eleventh" src="../../assets/img/reactive-forms10.png" alt="">
      </section>
      <h2 class="h2-section-reactive-forms">Sync Validator</h2>
      <section class="section-reactive-forms-twelfth">
        <div class="div-section-reactive-forms">
          <p class="p-section-reactive-forms">
            The second parameter is an array of sync Validators. Angular has some built-in Validators such as required
            and minLength etc.
            You can pass with Validator function as shown below.
          </p>
        </div>
        <img class="img-section-reactive-forms-twelfth" src="../../assets/img/reactive-forms11.png" alt="">
      </section>
      <h2 class="h2-section-reactive-forms">Asynchronous validator</h2>
      <section class="section-reactive-forms-thirtheen">
        <div class="div-section-reactive-forms">
          <p class="p-section-reactive-forms">
            The third argument is the Async Validator. The syntax of Async Validators is similar to Sync Validators.
            More on validation in our next tutorial Validations in Reactive forms.
          </p>
        </div>
        <!-- <img class="img-section-reactive-forms-twelfth" src="../../assets/img/reactive-forms11.png" alt=""> -->
      </section>
      <h2 class="h2-section-reactive-forms">Grouping the controls using FormGroup</h2>
      <section class="section-reactive-forms-thirtheen">
        <div class="div-section-reactive-forms-thirtheen">
          <p class="p-section-reactive-forms">
            We can group various form controls together. For Example fields such as street, city, and Pincode each will
            have their own form control, but can be grouped together as an address form group
          </p>
        </div>
        <img class="img-section-reactive-forms-thirtheen" src="../../assets/img/reactive-forms12.png" alt="">
        <div class="div-section-reactive-forms-thirtheen">
          <p class="p-section-reactive-forms">
            In the code above, we have created new FormGroup Address and added three form controls i.e city, street &
            Pincode.
            In the template use the formGroupName directive to enclose the control using a div element as shown below
          </p>
        </div>
        <img class="img-section-reactive-forms-thirtheen2" src="../../assets/img/reactive-forms13.png" alt="">
      </section>
    </section>
    <!-- ----------------------------------SECTION ------Template-Driven---- -------------------------------------------->
    <section class="section section-template-driven">
      <section class="section-template-driven-first">
        <div class="div-template-driven-first">
          <h1 class="div-template-title-first">
            What is Template-driven form?
          </h1>
          <p class="template-driven-information">
            In Template Driven Forms we specify behaviors/validations using directives and attributes in our template
            and
            let
            it work behind the scenes. All things happen in Templates hence very little code is required in the
            component
            class. This is different from the reactive forms, where we define the logic and controls in the component
            class.
          </p>
          <h2 class="h2-template-subtitle-first">The Template-driven forms </h2>
          <p class="template-subtitle-item">The form is set up using ngForm directive, controls are set up using the
            ngModel directive, ngModel also provides the two-way data binding. The Validations are configured in the
            template via directives</p>
          <h2 class="h2-template-subtitle-first">Template-driven forms are</h2>
          <p class="template-subtitle-item">Difficult to add controls dynamically</p>
          <p class="template-subtitle-item">Unit testing is a challenge</p>
        </div>
      </section>
      <h2 class="section-template-driven-second-title">
        Import FormsModule
      </h2>
      <section class="section-template-driven-second">
        <div class="div-template-drive">
          <p class="tamplate-drive-information">
            To work with Template-driven forms, we must import the FormsModule. We usually import it in root module or
            in a shared module.
            The FormsModule contains all the form directives and constructs for working with forms
          </p>
          <p class="template-subtitle-item">Open the app.module.ts and add the "import FormsModule from
            '@angular/forms'" to it.</p>
          <p class="template-subtitle-item"> And also add the FormsModule to the imports metadata property array
          </p>
        </div>
        <img class="img-section-template-driven-second" src="../../assets/img/template-driven01.png"
          alt="template driven how to create">
      </section>
      <h2 class="section-template-driven-second-title">
        Html Form
      </h2>
      <section class="section-template-driven-third">
        <div class="div-template-drive">
          <p class="tamplate-drive-information">
            The first task is to build the template. The following is a regular HTML form. We enclose it in a
            form tag. We have included two text input (FirstName & LastName), a email (email), a radio button (gender),
            a checkbox (isMarried), and a select list (country). These are form elements.
          </p>
        </div>
        <img class="img-section-template-driven-third" src="../../assets/img/template-driven03.png"
          alt="template driven how to use a form">
      </section>
      <h2 class="section-template-driven-second-title">
        Receive Form Data
      </h2>
      <section class="section-template-driven-fourth">
        <div class="div-template-drive-fourth">
          <p class="tamplate-drive-information">
            We need to receive the data in component class from our form. To do this we need to create the onSubmit
            method in our component class. The submit method receives the reference to the ngForm directive, which we
            named is as contactForm. The contactForm exposes the value method which returns the form fields as a Json
            object.
          </p>

        </div>
        <img class="img-section-template-driven-fourth" src="../../assets/img/template-driven04.png"
          alt="template driven how to use a form">
        <img class="img-section-template-driven-fourth2" src="../../assets/img/template-driven05.png"
          alt="template driven how to use a form">

      </section>
      <section class="section-template-driven-fifth">
        <p class="tamplate-drive-information">
          You can print the value to the console using the console.log(contactForm.value).
          Run the code now and enter some data into the form. Open the Developer Console in your browser and check the
          output, when you submit the data.
        </p>
        <img class="section-template-driven-fifth-img" src="../../assets/img/template-driven06.png"
          alt="template driven how to use a form">
        <br>
      </section>
    </section>
  </main>
</body>