
    <div
      class="panel panel-default">
      <div class="panel-heading">{{ "Este Evento é um @Input: " | uppercase }} {{ element?.name }}</div>
      <div class="panel-body">
        <p>
          <strong *ngIf="element?.type === 'server'" style="color: red">{{ element?.content }}</strong>
          <em *ngIf="element?.type === 'blueprint'" style="color: rgb(37, 17, 226)">{{ element?.content }}</em>
        </p>
      </div>
    </div>
    <!-- Este Ng-Content é adcionado lá no compomente NG-CONTENT-LOCAL, Obs: Só funciona se usar o class Css mas tem que por  select=".card" -->
    <div class="container">  <ng-content select=".card"></ng-content></div>
