<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/forms/driven/template-driven-forms-basics">Template Driven
                            Basics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            routerLink="/forms/driven/template-driven-validators-forms-basics">Template Driven Validators
                            Basics</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-primary" routerLink="/forms/">Back to Forms</button>
        </div>
    </main>
</body>