<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/http-request">Back Http-Request</button>
      </div>
    </div>

  </div>
  <div class="row ">

  <h2 class="title">Error Handling in Http-Request</h2>
  <div class="row">
    <div class="col-xs-12">
      <h2>Method in Service Class</h2>
      <div class="image">
        <img src="./../../../assets/img-http-request/05_Erro_Handle_in_Service.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12">
      <h2>Method in Compoment Class</h2>
      <div class="image">
        <img src="./../../../assets/img-http-request/05_Erro_Handle_in_Compoment.png" alt="Arquivo Html">
      </div>
    </div>




  </div>
</div>

