.container {

  background: linear-gradient(68.15deg, #367b9b 16.62%, #4914da42 85.61%);
  height: max-content;
}


button {
  margin: 0.5% 0.5%;
}

.row-container {
  padding: 1%;
  display: grid;
  place-items: center;

}

.card {
width: 25em;
height: inherit;

}
