<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/routes/parameters">Back Parameters</button>
      </div>
    </div>
  </div>
  <div class="row-container">
    <div class="col-xs-12">
      <h2>Get Id By Parameters</h2>
      <!-- ---------------------------------------------------Pipe Async no IF -->
      <div class="card" *ngIf="( book | async) as localBook">
        <img src="/assets/livros/{{ localBook?.imageUrl }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ localBook?.title }}</h5>
          <p class="card-text">
            {{ localBook?.description }}
          </p>
          <a class="btn btn-primary" routerLink="/routes/parameters/parameters-card">go to Dynamic Parameters</a>
        </div>
      </div>

    </div>
  </div>
</div>
