<body>
  <div class="row">
    <div class="col-xs-24">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/pipes/pipes-basics">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-router-fill" viewBox="0 0 16 16">
                    <path
                      d="M5.525 3.025a3.5 3.5 0 0 1 4.95 0 .5.5 0 1 0 .707-.707 4.5 4.5 0 0 0-6.364 0 .5.5 0 0 0 .707.707Z" />
                    <path
                      d="M6.94 4.44a1.5 1.5 0 0 1 2.12 0 .5.5 0 0 0 .708-.708 2.5 2.5 0 0 0-3.536 0 .5.5 0 0 0 .707.707Z" />
                    <path
                      d="M2.974 2.342a.5.5 0 1 0-.948.316L3.806 8H1.5A1.5 1.5 0 0 0 0 9.5v2A1.5 1.5 0 0 0 1.5 13H2a.5.5 0 0 0 .5.5h2A.5.5 0 0 0 5 13h6a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5h.5a1.5 1.5 0 0 0 1.5-1.5v-2A1.5 1.5 0 0 0 14.5 8h-2.306l1.78-5.342a.5.5 0 1 0-.948-.316L11.14 8H4.86L2.974 2.342ZM2.5 11a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm4.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm1.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Z" />
                    <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
                  </svg>
                  Basic Pipes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/pipes/pipes-customs">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                  </svg>
                 Custom Pipes
                </a>
              </li>


            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <main>
    <div class="row">
      <div class="col-xs-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-dark" routerLink="/home">Back Home</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Pipes</h2>
        <h3>What is Pipes? Pipes is feature in Angular allow you transform output in your template.</h3>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-12 image">
        <h2><a href="https://angular.io/cli/generate#pipe-command" target="_blank">Create Pipes by Angular CLI or go to Angular.io</a>
        </h2>
      </div>
      <div class="col-xs-12">
        <div class="image">
          <img src="./../../assets/img-pipes/00_pipes_Ng.png" alt="Arquivo Html">
        </div>
      </div>
      <div class="col-xs-12 image">
        <h2><a href="https://angular.io/api?query=pipe" target="_blank">Kind of Pipes in Angular.io</a>
        </h2>
      </div>
      <div class="col-xs-12">
        <div class="image">
          <img src="./../../assets/img-pipes/00_pipes_Kind.png" alt="Arquivo Html">
        </div>
      </div>
    </div>
  </main>
</body>
