<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-light" [routerLink]="'/angular/pipes'">Back Pipes</button>
          </div>
      </div>
  </div>
  <h2 class="title">Sort By with Pipe Before the PipeSortBy</h2>

  <div class="row row-container">
      <div class="col-xs-12 col-sm-10  ">
          <ul class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let server of localdata " [ngClass]="getStatusClasses(server) ">
                <strong>{{ server.name  }}</strong> | {{ server.instanceType | uppercase}} | {{
                  server.started | date:
                  'fullDate' }}
                  <span class="badge text-bg-info rounded-pill"> {{ server.status }}</span>
              </li>
          </ul>
      </div>
  </div>
  <h2 class="title">Sort By with Pipe After the PipeSortBy</h2>
  <h3 class="title">Now is a sort by alphabetical order look the property name.</h3>
  <div class="row row-container">
      <div class="col-xs-12 col-sm-10  ">
          <ul class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let server of localdata | pipeSortBy:'name'" [ngClass]="getStatusClasses(server) ">
                <strong>{{ server.name  }}</strong> | {{ server.instanceType | uppercase}} | {{
                  server.started | date:
                  'fullDate' }}
                  <span class="badge text-bg-info rounded-pill"> {{ server.status }}</span>
              </li>
          </ul>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
          <h2>Pipes Advanced With Sort By alphabetical order </h2>
      </div>
      <div class="col-xs-12 picture">
          <h3>PipeSortBy.compoment.Html File</h3>
          <div class="image">
              <img src="./../../../assets/img-pipes/05_Pipe_SortBy_FILE_HTML.png" alt="Arquivo Html">
          </div>
      </div>
      <div class="col-xs-12 picture">
          <h3>PipeSortBy.pipe.Ts</h3>
          <div class="image">
              <img src="./../../../assets/img-pipes/05_Pipe_SortBy_PIPE_TS.png" alt="Arquivo Html">
          </div>
      </div>
      <div class="col-xs-12 picture">
          <h3>PipeSortBy.compoment.Ts</h3>
          <div class="image">
              <img src="./../../../assets/img-pipes/05_Pipe_SortBy_FILE_TS.png" alt="Arquivo Html">
          </div>
      </div>

</div>

