<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/http-request">Back Http-Request</button>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
    </div>
  </div>
  <h2 class="title">Http Request Using Realtime FireBase GET</h2>
  <div class="row">
    <div class="col-xs-12">
      <h2>Pipes Advanced With Sort By alphabetical order </h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>PipeSortBy.compoment.Html File</h3>
      <div class="image">
        <img src="./../../../assets/img-pipes/05_Pipe_SortBy_FILE_HTML.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>PipeSortBy.pipe.Ts</h3>
      <div class="image">
        <img src="./../../../assets/img-pipes/05_Pipe_SortBy_PIPE_TS.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>PipeSortBy.compoment.Ts</h3>
      <div class="image">
        <img src="./../../../assets/img-pipes/05_Pipe_SortBy_FILE_TS.png" alt="Arquivo Html">
      </div>
    </div>

  </div>
</div>
