<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/http-request">Back Http-Request</button>
      </div>
    </div>

  </div>
  <div class="row ">
    <div class="col-xs-12">

      <table class="table  table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Tax number</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of dataIservice | async as list, let i = index">
          <tr *ngIf="list.length >= 1; else isNotData">
            <th scope="row">{{list[i]['id']}}</th>
            <td>{{list[i]['name'] }}</td>
            <td>{{ list[i]['email'] }}</td>
            <td>{{ list[i].address }}</td>
            <td>{{ list[i].ssn }}</td>
            <td > <button type="button" class="btn btn-outline-danger" (click)="deleteInFirebase(list[i]['id'])" [disabled]="hiddenButton?.['hiddenButton']">Delete</button></td>
          </tr>
          <ng-template #isNotData>
            <tr>
              <th scope="row">#</th>
              <td>Not Have data</td>
              <td>Not Have data</td>
              <td>Not Have data</td>
              <td>Not Have data</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <h2 class="title">{{ hiddenButton?.nameTittle1 }}</h2>
  <div class="row">
    <div class="col-xs-12">
      <h2>Note:Http Request Return a Observable.</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>{{ hiddenButton?.['namePath1'] }}</h3>
      <div class="image">
        <img src= "{{ hiddenButton?.pathImage1 }}" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>{{ hiddenButton?.['namePath2'] }} </h3>
      <div class="image">
        <img src= "{{ hiddenButton?.['pathImage2'] }}" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>{{ hiddenButton?.['namePath3'] }}</h3>
      <div class="image">
        <img src= "{{ hiddenButton?.['pathImage3'] }}" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3> {{ hiddenButton?.['namePath4'] }}</h3>
      <div class="image">
        <img src= "{{  hiddenButton?.['pathImage4'] }}"alt="Arquivo Html">
      </div>
    </div>

  </div>
</div>
