header {
  width: 100%;
}
.main {
  background: linear-gradient(68.15deg, #040013 16.62%, #2e2e30 85.61%);
  display: flex;
  justify-content: space-between;
}
body {
  height: max-content;
}

a {
  color: inherit;
}

a:hover{
  color: #f0b686 !important;
}

ul {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 21px;
  color: #FFF2E7;
}

.nav-contant {
  background: linear-gradient(68.15deg, #040013 16.62%, #2e2e30 85.61%);
  width: 100%;
  height: max-content;

}



a.logout {
  cursor: pointer;
}

.dropdown-menu {
  background: linear-gradient(68.15deg, #040013 16.62%, #2e2e30 85.61%);

}
