<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/directive">Back Directive</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 appCustomsColors>Advanced Customs Colors</h2>
      <ul class="list-group">

        <li class="list-group-item"  appCustomsColors [customsColors]="'red'" >An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item" appCustomsColors [customsColors]="'green'">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>

  <!-- ------------------IMGs Sections------------------------------ -->
  <div class="row row-container">
    <div class="col-xs-12">
      <h2>Customs exemples with images</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style=>The many List Item.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Customs-colors.directive.ts</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/05_DirectiveCustomsTS.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Customs-colors.component.html file.</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/05_DirectiveCustomsHTML.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Template File.</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/03_DirectiveWithHostListenerTEMPLATE.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>
