<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/basic">Back Basic</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 >Services</h2>
      <ul class="list-group">

        <li class="list-group-item"  >An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item" appDirectiveBetter>A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
  </div>
