
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lexend+Peta&family=Roboto:ital,wght@1,300&family=Sansita+Swashed:wght@300&display=swap');

.container {
  background: linear-gradient(68.15deg, #81f712 16.62%, #5f5769 85.61%);
  height: max-content;
}

button {
  margin: 2% 0.5%;
}

h2 {
  display: grid;
  place-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 20px;
  color: #FFF2E7;
  padding: 1.5%;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  padding: 1%;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 20px;
  color: #FFF2E7;
}

.form {
  display: grid;
  place-items: center;
  padding: 1%;
  width: 90%;

}

.col-xs-12.picture{
  background: transparent;

}
.col-xs-12.picture:hover {
  background: linear-gradient(68.15deg, #2e2eeb 16.62%, #268ea1 85.61%);

}

/* ------------------centralizando as imagens--------------------------- */
.image {
  display: grid;
  place-items: center;
  padding: 3%;
}

img {
  border-radius: 8px;
  border-color: rgba(146, 144, 144, 0.582);
  border-style: solid ;
  box-sizing: 2px;
  width: 90%;
  object-fit: fill;

}
