<main>

  <body>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-outline-light me-md-2 margin-top" (click)="close()">Cancel</button>
    </div>
    <div class="container dummy">
      <h3>Sign-Up</h3>
      <form action="" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label">Nome</label>
          <div class="col-sm-9">
            <input type="nome" class="form-control" id="nome" formControlName="nome">
          </div>
          <!-- Validators -->
          <section *ngIf="this.loginForm.controls['nome'].dirty">
            <small *ngIf="loginForm.controls['nome'].getError('required') && loginForm.controls['nome'].touched"
              class="error">
              <p>Password required</p>
            </small>
            <small *ngIf="loginForm.controls['nome'].getError('minlength') && loginForm.controls['nome'].touched"
              class="error">
              <p>This Field needs to have min 3 letters</p>
            </small>
          </section>
        </div>
        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <!-- Validators -->
          <section *ngIf="this.loginForm.controls['email'].dirty">
            <small *ngIf="loginForm.controls['email'].getError('required') && loginForm.controls['email'].touched"
              class="error">
              <p>Password required</p>
            </small>
            <small *ngIf="loginForm.controls['email'].getError('email') && loginForm.controls['email'].touched"
              class="error">
              <p>Email Field needs to have yourEmail@gmail.com</p>
            </small>
          </section>
        </div>

        <div class="passwordGroup">
          <div class="mb-3 row">
            <label for="password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="pConfirm" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="pConfirm" class="form-control" id="pConfirm" formControlName="pConfirm">
            </div>
          </div>
          <!-- Validators -->
          <section *ngIf="this.loginForm.controls['passwordGroup'].dirty">
            <small *ngIf="loginForm.controls['pConfirm'].getError('required') && loginForm.controls['pConfirm'].touched"
              class="error">
              <p>Password required</p>
            </small>
          </section>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end margin-top">
          <button type="button" class="btn btn-outline-danger mb-3" (click)="this.resertForm">Clean Fields</button>
          <button type="submit" class="btn btn-outline-primary mb-3" [disabled]="!loginForm.valid">Login</button>
        </div>
      </form>
    </div>
  </body>
</main>
