<main>

  <body>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" aria-label="Close" class="btn-close btn-close-white" (click)="close()" style="margin: 1%"></button>
    </div>
    <div class="container dummy">
      <h3>Sign-Up</h3>
      <form action="" [formGroup]="sigUpForm" (ngSubmit)="submit()">
        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label">Nome</label>
          <div class="col-sm-9">
            <input type="nome" class="form-control" id="nome" formControlName="nome">
          </div>
          <!-- Validators -->
          <section *ngIf="this.sigUpForm.controls['nome'].dirty">
            <small *ngIf="sigUpForm.controls['nome'].getError('required') && sigUpForm.controls['nome'].touched"
              class="error">
              <p>Password required</p>
            </small>
            <small *ngIf="sigUpForm.controls['nome'].getError('minlength') && sigUpForm.controls['nome'].touched"
              class="error">
              <p>This Field needs to have min 3 letters</p>
            </small>
          </section>
        </div>
        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <!-- Validators -->
          <section *ngIf="this.sigUpForm.controls['email'].dirty">
            <small *ngIf="sigUpForm.controls['email'].getError('required') && sigUpForm.controls['email'].touched"
              class="error">
              <p>Password required</p>
            </small>
            <small *ngIf="sigUpForm.controls['email'].getError('email') && sigUpForm.controls['email'].touched"
              class="error">
              <p>Email Field needs to have yourEmail@gmail.com</p>
            </small>
          </section>
        </div>

        <div class="passwordGroup" formGroupName="passwordGroup">
          <div class="mb-3 row">
            <label for="password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="pConfirm" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="pConfirm" formControlName="pConfirm">
            </div>
          </div>
          <!-- Validator do FormGroup-------------------------------------------- -->
          <!-- {{ this.passwordGroup.hasError('passwordsDontMatch') }}
          {{ this.passwordGroup.errors?.['passwordsDontMatch'] }} -->
          <section *ngIf="this.passwordGroup.touched || this.passwordGroup.dirty">
            <small *ngIf="this.passwordGroup.get('password')?.getError('required') || this.passwordGroup.get('pConfirm')?.getError('required')"
              class="error">
              <p>Password required</p>
            </small>
            <small *ngIf="this.passwordGroup.hasError('passwordPattern')"
              class="error">
              <p>{{ this.passwordGroup.getError('passwordPattern').description }}</p>
            </small>
            <small *ngIf="this.passwordGroup.hasError('passwordsDontMatch')"
              class="error">
              <p>{{ this.passwordGroup.getError('passwordsDontMatch').description }}</p>
            </small>
          </section>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end margin-top">
          <button type="button" class="btn btn-outline-danger mb-3" (click)="this.resertForm">Clean Fields</button>
          <button type="submit" class="btn btn-outline-primary mb-3" [disabled]="!sigUpForm.valid">Login</button>
        </div>
      </form>
    </div>
  </body>
</main>
