<div class="container">
  <p class="muted"> ``
    Implementando Lazy Loading no Angular

    Para outros posts sobre React, JavaScript, .Net entre outras tecnologias confira meu site pessoal: thiagoreis.dev.
    
    No contexto do Angular um módulo é a forma de agrupar componentes, diretivas, pipes e serviços que são relacionados. Esse conjunto de módulo são “encaixados” para formar a aplicação, isso mesmo como se fosse peças de Lego. Um módulo pode esconder ou exportar um componente, diretiva, serviço ou pipe. Componentes exportados podem ser usados por outros módulos, já aqueles que são escondidos pelo módulo só podem ser usados por ele mesmo.
    
    Módulos Angular
    Essa modularidade no Angular é chamada de NgModules, cada aplicação é composta por pelo menos uma classe NgModule que é o módulo root da aplicação. Esse módulo root por padrão é chamado de AppModule e fica no arquivo src/app/app.module.ts. A aplicação é executada através do processo de Bootstraping do módulo root.
    
    Não confundir os módulos Angular com módulos JavaScript
    
    
   
  </p>

</div>
<router-outlet></router-outlet>