<!-- Full screen modal usando data-toggle="modal" data-target="#modalErro" Não funciona, tem q usar [ngStyle] -->
<div class="container modal-dialog modal-xl">
  <div class="modal modal-xl" tabindex="-1" role="dialog" [ngStyle]="{ display: openOrCloseModal }">
    <div class="modal-dialog" role="document">
      <div class="modal-content" [style.background-image]="'url(' + image + ')'">
        <div class="modal-header">
          <h3 class="modal-title">
            The forecasting from
            {{ " " + formtTheFirstLetter(this.firstBlock.name) + " " }} city
          </h3>
        </div>
        <div class="modal-body">
          <h4 class="modal-title">
            {{ this.firstBlock?.name | uppercase }} -
            {{ this.firstBlock?.country | uppercase }}
          </h4>
          <!-- -----------------Carousel------------------------------------------------- -->
          <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="container" style="width: 50%;">
                  <!-- --------------------------ListGroup----------------------------------- -->
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Sunrise</div>
                        Sunrise: {{ this.firstBlock?.sunrise | date }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Sunset</div>
                        Sunset: {{ this.firstBlock?.sunset | date }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Visibility</div>
                        Visibility: {{ this.firstBlock?.main }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Sky</div>
                        Sky: {{ this.firstBlock?.weather }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Number Of Clouds</div>
                        Number Of Clouds: {{ this.firstBlock?.totalClouds + " %" }}
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="container" style="width: 50%;">
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Wind Speed</div>
                        Wind Speed: {{ this.secundBlock?.speed | date }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Temperature</div>
                        Temperature: {{ this.secundBlock?.temperature | date }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Min-Temperature</div>
                        Min-Temperature: {{ this.secundBlock?.temp_min }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Max-Temperature</div>
                        Max-Temperature: {{ this.secundBlock?.temp_max }}
                      </div>
                    </li>              
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Humidity</div>
                        Humidity: {{ this.secundBlock?.humidity  }}
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>