<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light back" routerLink="/shareData">Back to shareData</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-gamer-control (gameFired)="onIntervalFired($event)"></app-gamer-control>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-odd *ngFor="let item of oddNumbers" [oddNumber]="item"></app-odd>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-even *ngFor="let item of evenNumbers" [evenNumber]="item"></app-even>
      </div>
    </div>
  </div>
</div>
