@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lexend+Peta&family=Roboto:ital,wght@1,300&family=Sansita+Swashed:wght@300&display=swap');

html {
  margin: 0;
  padding: 0;
}


h2 {
  display: grid;
  place-items: center;

}

a {
  color: #FFF2E7 !important;
}

a:hover {
  color: #f0b686 !important;
}

.father {
  width: 100%;
  padding: 0.8% 0.8%;
}

.col-xs-12 {
  padding: 0.5%;
  margin: 1% 0%;
}
.col-xs-12.picture:hover {
  background: linear-gradient(68.15deg, #a3a3eb 16.62%, #000213 85.61%);

}

.row {
  padding: 0%;
}

.navbar {
  width: 100%;
  background: linear-gradient(68.15deg, #2e2e30 16.62%, #040013 85.61%);
  padding-top: 0.5%;
  padding-bottom: 0.5%;

}

.nav-tabs {
  background-color: transparent;
  border-bottom: none !important;
}

.nav-link.active {
  background-color: #0e0e3f;
}

.father-container {
  background: linear-gradient(68.15deg, #0b1c3b4b 16.62%, #344c81 85.61%);
  padding: 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #FFF2E7;
  height: 100vw;
}

.container {
  background: linear-gradient(68.15deg, #4ba7e43b 16.62%, #343981 85.61%);
  height: min-content;
  padding: 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #FFF2E7;

}


.image-father {
  width: 100%;
}

.image {
  /* ------------------centralizando as imagens--------------------------- */
  display: grid;
  place-items: center;
  padding: 3%;
}

img {
  width: 90%;
  object-fit: fill;

}
