@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lexend+Peta&family=Roboto:ital,wght@1,300&family=Sansita+Swashed:wght@300&display=swap');

html {
  margin: 0;
  padding: 0;
}

button {
  margin: 0.5% 0.5%;
}

h2 {
  display: grid;
  place-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 20px;
  color: #FFF2E7;

}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 20px;
  color: #FFF2E7;
}
/**Fazendo os Card ficarem alinhado na horizontal*/
.card-list {
  margin: 1%;
  display: inline-flex;
  flex-wrap: wrap;
}

.father {
  width: 100%;
  padding: 0.8% 0.8%;
}

.col-xs-12 {
  padding: 0.5%;
  margin: 1% 0%;
}
.col-xs-12.picture:hover {
  background: linear-gradient(68.15deg, #a3a3eb 16.62%, #000213 85.61%);

}

.row {
  padding: 0%;
}






.father-container {
  background: linear-gradient(68.15deg, #0b1c3b4b 16.62%, #344c81 85.61%);
  padding: 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #FFF2E7;
  height: 100vw;
}


.container {
  background: linear-gradient(68.15deg, #4ba7e43b 16.62%, #343981 85.61%);
  height: min-content;
  padding: 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #FFF2E7;

}

.image-father {
  width: 100%;
}

.image {
  /* ------------------centralizando as imagens--------------------------- */
  display: grid;
  place-items: center;
  padding: 3%;
}

img {
  width: 90%;
  object-fit: fill;

}
