<div class="father-container">
  <body class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-light" routerLink="/routes">Back Routes</button>
        </div>
        <h2 style="margin: 0 16%;">Query Parameters: How can you pass then and how can you retrive then.</h2>
      </div>
      <div class="col-xs-12">
        <h3>Template from QueryParameters.Html</h3>
        <div class="image">
          <img src="./../../../assets/img-from-files/04_Query_Parameters_Question_marks.png" alt="Arquivo Html">
        </div>
      </div>
      <h3>Template from QueryParameters.Html</h3>
      <div class="image">
        <img src="./../../../assets/img-from-files/04_Query_Parameters_Fragments.png" alt="Arquivo Html">
      </div>
      <h3>App Module</h3>
      <div class="image">
        <img src="./../../../assets/img-from-files/02_route_basic_appmodule.png" alt="Arquivo Html">
      </div>
    </div>
  </body>
</div>

