<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/angular/shareData">Back ShareData</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-cockpit-from-view-child (cockPitElementsRed)="onAddServer($event)"  [localLabel]="'@ViewChild'"></app-cockpit-from-view-child>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let item of serverElements" [serverElement]="item"> </app-server-element>
    </div>
  </div>
</div>

