 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lexend+Peta&family=Roboto:ital,wght@1,300&family=Sansita+Swashed:wght@300&display=swap');
html {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 1% 0%;
}

h2 {
  padding: 1% 0%;

}

a {
  color: #FFF2E7 !important;
}

a:hover {
  color: #f0b686 !important;
}

.father {
  width: 100%;
  padding: 0.8% 0.8%;
}
 .col-xs-12 {
 padding: 0%;
 }
 .row {
  padding: 0%;
 }
 .navbar-header{
  width: 100%;
   background: linear-gradient(68.15deg, #2e2e30 16.62%, #040013 85.61%);
   padding-top: 0.5%;
   padding-bottom: 0.5%;

 }
 /* .navbar.navbar-dark.bg-dark {
   margin: 0%;
   padding: 0%;
 } */


body {

  /* width: 100%; */
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #FFF2E7;

}


.nav-tabs {
  background-color: transparent;
  border-bottom: none !important;
}
.nav-link.active {
  background-color: #0e0e3f;
}

main {

  background: linear-gradient(68.15deg, #0e0e3f 16.62%, #4f22f1 85.61%);
  /* padding: 1%; */
  min-height: fit-content;
  height: 100vh;
  box-shadow: 0 0 25px 0.5em #9b9baca9,
    inset 0 0 25px 0.25em #17171aa9,
    inset 0 0 5em 0px #7a52e78f;


}


.container {

  background: linear-gradient(68.15deg, #373b0b 16.62%, #348181 85.61%);
  width: 100%;
  height: min-content;
  padding: 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #FFF2E7;

}



.image-father {
  width: 100%;
}
.image {
/* ------------------centralizando as imagens--------------------------- */
  display: grid;
  place-items: center;
  padding: 3%;
}
img {
  width: 85%;
  object-fit: fill;

}

