
.modal-content {    
    background-color: #2e2e08;
    margin: 0%;
    width: 100%;
    height: 31rem; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}


.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}


.modal-footer {   
    border-top: var(--bs-modal-footer-border-width) solid var solid rgb(13 110 253 / 25%);   
    
}