<body>
  <div class="row">
    <div class="col-xs-24">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/http-request/post">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost" viewBox="0 0 16 16">
                    <path d="M7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414a1 1 0 0 0-2 0zM12.532 5l1.666 2-1.666 2H2V5h10.532z"/>
                  </svg>
                  Post Request.
                </a>
              </li>




            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <main>
    <div class="row">
      <div class="col-xs-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-dark" routerLink="/home">Back Home</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Everything you need to know about RXJS e Observables</h2>
        <!-- <h3>Note: I used  Realtime Database from FireBase as Dummy Server.</h3> -->
        <h3>Performs HTTP requests.  This service is available as an injectable class, with methods to perform HTTP requests.
          Each request method has multiple signatures,  and the return type varies based  on the signature that is called (mainly the values of observe and responseType).</h3>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-12 image">
        <h2><a href="https://angular.io/api/common/http/HttpClient" target="_blank">Using Http Client more information in Angular.io</a>
        </h2>
      </div>
      <div class="col-xs-12">
        <div class="image">
          <img src="./../../assets/img-http-request/00_HttpResquest_AngularIO.png" alt="Arquivo Html">
        </div>
      </div>

    </div>
  </main>
</body>


