
.home {
    width: 100%;
    height: 55rem;
    background-color: 151515;
    margin: 0%;    
   background: url('https://3.bp.blogspot.com/-Q2YNP4xJvpo/Tr-LgcpcV_I/AAAAAAAAA4c/9DDHWDOnXvI/s1600/moinho-preto-e-branco-7b0aa1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}