<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/angular/routes">Back Routes</button>
      </div>
    </div>
  </div>
  <div class="row-container">
    <div class="col-xs-12">
      <h2>Child Routes convetional aproach and LazyLoad aproach</h2>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">
      <h2>Normal Approach to Route Child.</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>Routes Module</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/05_ChildRoutes_ModuleTS.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>ParametersCompoment.Ts</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/05_ChildRoutes_HTMLConvetional.png" alt="Arquivo Html">
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Lazy Load Routes</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>AppModule.Ts</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/05_ChildRoutes_AppModuleTS.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>FormslocalModule</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/05_ChildRoutes_ModuleLazyLoad.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>FormsComponent.HTML</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/05_ChildRoutes_ModuleHTML.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>
