<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <body>
        <main>
          <section class="container">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-dark" routerLink="/forms/reactive">Back</button>
            </div>
            <form class="form"  [formGroup]="myFormGroup"  (ngSubmit)="submitForms()" >
              <h2 class="title">form-group</h2>
              <label for="name" class="col-sm-6 col-form-label">Name</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
              <label for="address" class="col-sm-6 col-form-label">Address</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="address" formControlName="address">
              </div>
              <label for="email" class="col-sm-6 col-form-label">Email</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="email" formControlName="email">
              </div>
              <label for="ssn" class="col-sm-6 col-form-label">SSN</label>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="ssn" formControlName="ssn">
              </div>
              <div class="passwordGroup"  formGroupName="passwordGroup">
                <label for="password" class="col-sm-6 col-form-label">Password</label>
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="password" formControlName="password" >
                </div>
                <label for="pConfirm" class="col-sm-6 col-form-label">Confirm Password</label>
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="pConfirm" formControlName="pConfirm" >
                </div>
            </div>
              <div class="col-sm-6 d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 1%;">
                <button class="btn btn-outline-danger mb-3" (click)="myFormGroup.reset()" >Reset Form</button>
                <button type="submit" class="btn btn-outline-primary mb-3"  >Send</button>
              </div>

              <ng-container *ngIf="!myFormGroup.dirty; else hasdirty"></ng-container>
              <ng-template #hasdirty>
                <pre>
                            {{ myFormGroup?.value  | json }}

                        </pre>
              </ng-template>
            </form>
          </section>
        </main>
      </body>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row ">
        <div class="col-xs-12">
          <h2> Explain about the Reactive  FormControl with Images </h2>
        </div>
      </div>
      <div class="col-xs-12 picture">
        <h3>FormControlComponent.HTML</h3>
        <div class="image">
          <img src="./../../../../assets/img-forms-reactive/01_ReactiveFormHTML.png" alt="Arquivo Html">
        </div>
      </div>
      <div class="col-xs-12 picture">
        <h3>FormControlComponent.TS</h3>
        <div class="image">
          <img src="./../../../../assets/img-forms-reactive/01_ReactiveFormTS.png" alt="Arquivo Html">
        </div>
      </div>
    </div>
  </div>


</div>


