<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/routes">Back Routes</button>
      </div>
    </div>
  </div>
  <div class="row-container">
    <div class="col-xs-12">
      <h2>Child Routes convetional aproach and LazyLoad aproach</h2>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">
      <h2 style=> LazyLoad Aproach.</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>App route Module</h3>
      <div class="image">
        <img src="./../../../assets/img-from-files/05_ChildRoutes_ModuleTS.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>Route Module.</h3>
      <div class="image">
        <img src="./../../../assets/img-from-files/05_ChildRoutes_Module2TS.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Normal Aproach.</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>AppModule.Ts</h3>
      <div class="image">
        <img src="./../../../assets/img-from-files/05_ChildRoutes_ModuleTSConvetional.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>UserCompoment.Ts</h3>
      <div class="image">
        <img src="./../../../assets/img-from-files/05_ChildRoutes_HTMLConvetional.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>
