<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/routes">Back Routes</button>
      </div>
    </div>
  </div>
  <div class="row-container">
    <div class="col-xs-12">
      <h2>Child Routes</h2>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">
      <h2 style=> Child Routes with Promises.</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>Route Module.TS</h3>
      <div class="image">
        <img src="./../../../assets/img-from-files/04_Query_Parameters_Routes.png" alt="Arquivo Html">
      </div>
    </div>
</div>
