<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light back" routerLink="/rxjs-observables">Back Rxjs and Observable</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>ExaustMap Operator.</h2>

      </div>
    </div>
    <!-- 1º block -->
    <div class="col-xs-12 picture">
      <div class="image">
        <img src="./../../../../assets/img-rxjs/05_Pipe_Take_and_ExaustMap.png" alt="Arquivo Html">
      </div>
    </div>

  </div>

</div>

