<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/rxjs-observables">Back Rxjs and Observable</button>
      </div>
    </div>
  </div>
  <div class="row row-card ">
    <h2 class="title">Drag and Drop using RXJS and your Observables</h2>
    <h2>You will create a drad and drop card, use your mouse.</h2>
    <div class="col-xs-12">
      <div class="card"></div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    </div>
    <div class="col-xs-12 picture">
      <h3>Postcompoment.html File</h3>
      <div class="image">
        <img src="./../../../assets/img-http-request/01_POST_Console_LOG.png" alt="Arquivo Html">
      </div>
    </div>


  </div>
</div>

