<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/rxjs-observables">Back Rxjs and Observable</button>
      </div>
    </div>
  </div>
  <div class="row row-card ">
    <h2 class="title">Drag and Drop using RXJS and your Observables</h2>
    <h2>You will create a drad and drop card, use your mouse and drap and drop the card.</h2>
    <div class="col-xs-12">
      <div class="card"></div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    </div>
    <div class="col-xs-12 picture">
      <h3>Drag and drop Start.html File</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/04drag-and-drop-doItStart.png" alt="Arquivo Html">
      </div>
      <h3>Drag and drop Start.html File</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/04drag-and-drop-doIt.png" alt="Arquivo Html">
      </div>
      <h3>Lets start with FromEvent() Operator</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/00drag-and-drop-fromEvent.png" alt="Arquivo Html">
      </div>
      <h3>With SwitchMap() Operator</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/01drag-and-drop-switchMap.png" alt="Arquivo Html">
      </div>
      <h3>With Pipe() Operator</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/02drag-and-drop-pipe.png" alt="Arquivo Html">
      </div>
      <h3>With Map start value when you hit the mouseDown</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/03drag-and-drop-MAP-Start-values-from-hit.png" alt="Arquivo Html">
      </div>
      <h3>Get the Mouse Move start value</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/03drag-and-drop-ConsoleLog-StreamMouseMove.png" alt="Arquivo Html">
      </div>
      <h3>With Map finish value when you un hit the mouseUp</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/03drag-and-drop-MAP-Start-values-from-hit.png" alt="Arquivo Html">
      </div>
      <h3>Get the Mouse Move finish values</h3>
      <div class="image">
        <img src="./../../../assets/img-rxjs/03drag-and-drop-MAP-Final-values-from-hit.png" alt="Arquivo Html">
      </div>
    </div>


  </div>
</div>

