<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/shareData">Back ShareData</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Share Data by Service, for me this is a best exemples.</h2>
    </div>
  </div>
  <div class="row row-container">
    <div class="col-xs-12">
      <h2>Share Data exemples with images.</h2>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12">
      <h2 style=>The Blue List Item.</h2>
    </div>
  </div> -->
  <div class="row">
    <div class="col-xs-12 picture">
      <h3 ><a routerLink="/http-request">Imagem from Http-Request Class</a> </h3>
      <div class="image">
        <img src="./../../../assets/img-share-data/01_Share_data_By_service_Exemple.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Imagem from Http-Request Service there will see the code.</h3>
      <div class="image">
        <img src="./../../../assets/img-share-data/01_Share_data_By_services.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Imagem from Http-Request Service there will see the code.</h3>
      <div class="image">
        <img src="./../../../assets/img-share-data/01b_Share_data_By_services.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">

      <h3 ><a routerLink="/http-request/getAll">Get Request File.</a> </h3>
      <div class="image">
        <img src="./../../../assets/img-share-data/02_delete_exemple.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3 ><a routerLink="/http-request/delete">Delete Request File.</a> </h3>
      <div class="image">
        <img src="./../../../assets/img-share-data/02_get_exemple.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3 >Let go to Share Data in GetComponent File to see the code.</h3>
      <div class="image">
        <img src="./../../../assets/img-share-data/03_Get_share_Data.png" alt="Arquivo Html">
      </div>
      <h3 >Let go to Share Data in DeleteComponent File to see the code.</h3>
      <div class="image">
        <img src="./../../../assets/img-share-data/03_Delete_share_Data.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>
