<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" routerLink="/shareData">Back ShareData</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Share Data by Service, for me this is a best exemples</h2>
    </div>
  </div>
  <div class="row row-container">
    <div class="col-xs-12">
      <h2>Share Data exemples with images</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style=>The Blue List Item.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Directive-better.directive.ts</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/02_DirectiveBetterTS.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Advance-directive.component.html file.</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/02_DirectiveBetterHTML.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Template File.</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/02_DirectiveBetterTEMPLATE.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>
