<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/directive">Back Directive</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 appDirectiveBasic>Basic </h2>
      <ul class="list-group">
        <!-- appDirectiveBasic Carrega a class de diretiva feita no modulo de directiva, deixando a linha Vermelha  -->
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item" appDirectiveBasic>A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
  <!-- ------------------IMGs Sections------------------------------ -->
  <div class="row row-container">
    <div class="col-xs-12">
      <h2>Basic Directive exemples with images</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style=>The Red List Item.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Directive-basic.directive.ts</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/01_DirectiveBasicTS.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Basic-high-light-directive.component.html file.</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/01_DirectiveBasicHTML.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 picture">
      <h3>Template File.</h3>
      <div class="image">
        <img src="./../../../assets/img-directives/01_DirectiveBasicTEMPLATE.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>
