<body>
  <main>
    <section class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/forms/reactive">Back</button>
      </div>
      <form class="form" (ngSubmit)="submitForms()" [formGroup]="myGetForm">
        <h2 class="title">Get-basic-validators</h2>
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" formControlName="name">
          <!-- Validatiors------------------------------------ -->
          <section *ngIf="name.valid && name.touched">
            <small class="warning" style="color: red; padding:1%;" *ngIf="name?.hasError('required', 'name')">
              <p>Field is mandatory</p>
            </small>
            <!-- Usando CONTROLS Errors -->
            <!-- <small class="warning" style="color: red; padding:1%;"
              *ngIf="myGetForm.controls['name'].errors?.['minlength']">
              <p>Min size are 3 lettlers</p>
            </small> -->
            <!-- Usando HASERROR -->
            <!-- <small class="warning" style="color: red; padding:1%;" *ngIf="myGetForm.hasError('maxlength', 'name')">
              <p>Max Field are 30 lettlers</p>
            </small> -->
          </section>
        </div>

        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="address" formControlName="address">
          <!-- Validatiors------------------------------------ -->
          <section *ngIf="!myGetForm.controls['address']?.valid && myGetForm.controls['address']?.touched">

          </section>
        </div>

        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="email" formControlName="email">
          <!-- Validatiors------------------------------------ -->
          <!-- Usando CONTROLS Errors -->
          <section *ngIf="!myGetForm.controls['email']?.valid && myGetForm.controls['email']?.touched">

          </section>
        </div>

        <label for="ssn" class="col-sm-2 col-form-label">SSN</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="ssn" formControlName="ssn">
          <!-- Validatiors------------------------------------ -->
          <!-- Usando CONTROLS Errors -->
          <section *ngIf="!myGetForm.controls['ssn']?.valid && myGetForm.controls['ssn']?.touched">

          </section>
        </div>

        <div class="passwordGroup" formGroupName="passwordGroup">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="password" formControlName="password">
            <!-- Validators--------------------------------------- -->

          </div>
          <label for="pConfirm" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="pConfirm" formControlName="pConfirm">
            <!-- Validators--------------------------------------- -->


          </div>
          <section *ngIf="!myGetForm.controls['passwordGroup']?.valid && myGetForm.controls['passwordGroup']?.touched">

          </section>

          <!-- {{ 'HASERROR: ' + myGetForm.getError('passwordPattern', 'passwordGroup')?.description }} -->

        </div>

        <div class="col-sm-6 d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 1%;">
          <button type="submit" class="btn btn-outline-primary mb-3">Send</button>
        </div>

        <ng-container *ngIf="!myGetForm.dirty; else hasdirty"></ng-container>
        <ng-template #hasdirty>
          <pre>

                      {{ myGetForm.controls['name']?.value  | json }}
                      {{  myGetForm.controls['address']?.value  | json }}
                      {{ myGetForm.controls['email']?.value  | json }}
                      {{ myGetForm.controls['ssn']?.value  | json }}
                      {{ myGetForm.controls['passwordGroup'].get('password')?.value  | json }}
                      {{ myGetForm.controls['passwordGroup'].get('pConfirm')?.value  | json }}
                  </pre>
        </ng-template>
      </form>
    </section>
  </main>
</body>

