@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lexend+Peta&family=Roboto:ital,wght@1,300&family=Sansita+Swashed:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #FFF2E7;

}

h1 {
  padding: 1% 0%;
}

h2 {
  padding: 1% 0%;

}

a {
  color: #FFF2E7 !important;
}

a:hover {
  color: #f0b686 !important;
}

.navbar {
  background: linear-gradient(68.15deg, #2e2e30 16.62%, #040013 85.61%);

}

main {
  /* background: linear-gradient(68.15deg, #0665f3 16.62%, #0d0e14 85.61%); */
  background: linear-gradient(68.15deg, #05031a 16.62%, #e9e8e9 85.61%);
  padding: 1%;
  min-height: fit-content;
  height: 52em;
  height: 100vh;
  box-shadow: 0 0 25px 0.5em #9b9baca9,
    inset 0 0 25px 0.25em #17171aa9,
    inset 0 0 5em 0px #7a52e78f;


}
