<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/directive">Back Directive</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 appAdvanceDirectiveWithHostlisternerAndHostbinding >Advanced Directive with @HostListener and @HostBinding</h2>
      <ul class="list-group">
        <!-- appDirective Carrega a class de diretiva feita no modulo de directiva, deixando a linha da cor configurada na Directiva  -->
        <li class="list-group-item" appAdvanceDirectiveWithHostlisternerAndHostbinding >An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item" appAdvanceDirectiveWithHostlisternerAndHostbinding>A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>

     <!-- ------------------IMGs Sections------------------------------ -->
     <div class="row row-container">
      <div class="col-xs-12">
        <h2>Directive with hostlisterner and hostbiding exemples with images</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 style=>The Green List Item.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 picture">
        <h3>Advance-directive-with-hostlisterner-and-hostbinding.directive.ts</h3>
        <div class="image">
          <img src="./../../../assets/img-directives/04_DirectiveWithHostListenerAndHostbindTS.png" alt="Arquivo Html">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 picture">
        <h3>Advance-directive-with-hostlisterner-and-host-binding.component.html file.</h3>
        <div class="image">
          <img src="./../../../assets/img-directives/04_DirectiveWithHostListenerAndHostbindHTML.png" alt="Arquivo Html">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 picture">
        <h3>Template File.</h3>
        <div class="image">
          <img src="./../../../assets/img-directives/04_DirectiveWithHostListenerAndHostbindTEMPLATE.png" alt="Arquivo Html">
        </div>
      </div>
    </div>
</div>

