<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/directive">Back Directive</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 appAdvanceDirectiveWithHostlisternerAndHostbinding >>Advanced Directive with @HostListener and @HostBinding</h2>
      <ul class="list-group">
        <!-- appDirective Carrega a class de diretiva feita no modulo de directiva, deixando a linha da cor configurada na Directiva  -->
        <li class="list-group-item" appAdvanceDirectiveWithHostlisternerAndHostbinding >An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item" appAdvanceDirectiveWithHostlisternerAndHostbinding>A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
</div>

