<ul class="nav justify-content-center" style="background-color: rgb(26, 23, 23);">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/books">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/forecasting">Forecasting Weather</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/forms">Forms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about">About</a>
  </li>
</ul>

<router-outlet></router-outlet>

