<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <!-- ------------------------Podemos passar aa rota pelo routeLink dentro de Array de String------------------>
        <button type="button" class="btn btn-outline-light" [routerLink]="['/angular/routes']">Back Routes</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Change the Route by Button "go to By Router" using Angular Router</h2>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" (click)="goToByRouter()">go to By Router</button>
      </div>
    </div>
  </div>
  <div class="row image-father">
    <div class="col-xs-12">
      <!-- <div class="row"> -->
      <h3>Html File</h3>
      <div class="image" >
         <img src="./../../../assets/img-routes/01_route_by_router_InjectionHTML.png" alt="Arquivo Html">
      </div>
    </div>
  <!-- </div> -->
  </div>
  <div class="row image-father" >
    <div class="col-xs-12">
      <!-- <div class="row"> -->
        <h3>TypeScrip File</h3>
        <div class="image" >
           <img src="./../../../assets/img-routes/01_route_by_router_InjectionTS.png" alt="Arquivo TypeScrip">
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
